@page
@model CLDV6211_POE.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].BodyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].KilometresTravelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ServiceKilometres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Avaliable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KilometresTravelled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceKilometres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avaliable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarNo">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CarNo">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
